parameters:
    ignoreErrors:
        - '#Class .* has an uninitialized readonly property#'
        - '#Readonly property .* is assigned outside of the constructor#'
        - '#Cannot access an offset on mixed#'
        - '#Cannot access offset .* on mixed#'
        - '#&\$matches @param-out .* Sunrise\\Http\\Router\\Helper\\RouteMatcher::matchRoute\(\)#'
