<?xml version="1.0"?>
<phpunit colors="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Sunrise HTTP Router Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
