<?xml version="1.0"?>
<psalm
  errorLevel="1"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://getpsalm.org/schema/config"
  xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
  phpVersion="8.1"
>
  <projectFiles>
    <directory name="src" />
    <ignoreFiles>
      <directory name="vendor" />
    </ignoreFiles>
  </projectFiles>

  <issueHandlers>
    <ClassMustBeFinal errorLevel="suppress" />
    <InaccessibleProperty errorLevel="suppress" />
    <MissingConstructor errorLevel="suppress" />
    <MixedArrayAssignment errorLevel="suppress" />
    <MixedAssignment errorLevel="suppress" />
    <PossiblyUnusedMethod errorLevel="suppress" />
    <PossiblyUnusedProperty errorLevel="suppress" />
    <UnnecessaryVarAnnotation errorLevel="suppress" />
    <UnresolvableInclude errorLevel="suppress" />
    <UnusedClass errorLevel="suppress" />
    <UnusedParam errorLevel="suppress" />
  </issueHandlers>
</psalm>
